body {
	font-family: "Raleway", sans-serif;
}

/* Common formatting classes */

.flexContentCenter {
	display: flex;
	justify-content: center; /* <-centers the item in the MAIN axis */
	align-items: center; /* <- centers the item in the CROSS axis */
}

.flexContentSpaceAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flexContentSpaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav Configurations */
.navContWidth {
	width: 30%;
}
.navHeight {
	height: 100px;
}
.navLinkProp {
	text-decoration: none;
}
a:active {
	background-color: #f2f2f2;
}

a:hover {
	color: #0065fc;
	font-weight: normal;
	height: 100px;
	border-top: 2px solid #0065fc;
	display: flex;
	align-items: center;
}
a:visited {
	color: black;
}

/* Comments here */

.ville_hotel {
	border: 3px solid black;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/*  Section hebergements */
.section_hebergements {
	background: lightpink;
	padding: 20px;
}

.hebergements {
	display: grid;
	grid-template: repeat(2, 3em) / repeat(3, 1fr);
	grid-gap: 10px;
}

#heb1 {
	border: 1px solid red;
	border-radius: 10px;
}

#heb2 {
	border: 1px solid red;
	border-radius: 10px;
}
#heb3 {
	border: 1px solid red;
	border-radius: 10px;
}
#heb4 {
	border: 1px solid red;
	border-radius: 10px;
}
#heb5 {
	border: 1px solid red;
	border-radius: 10px;
}
#heb6 {
	border: 1px solid red;
	border-radius: 10px;
}

/*  Section Les plus populaires */

.section_populaires {
	background: lightseagreen;
	padding: 20px;
}

.populaires {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(3, 3em);
}

#pop1 {
	border: 1px solid blue;
	border-radius: 10px;
}

#pop2 {
	border: 1px solid blue;
	border-radius: 10px;
}
#pop3 {
	border: 1px solid blue;
	border-radius: 10px;
}

/*  Section activites */

.section_activites {
	background: lightblue;
	padding: 20px;
}

.activites {
	display: grid;
	grid-template: repeat(2, 3em) / repeat(4, 1fr);
	grid-gap: 10px;
}

#act1 {
	border: 1px solid red;
	border-radius: 10px;
	grid-row: 1/3;
}

#act2 {
	border: 1px solid green;
	border-radius: 10px;
}

#act3 {
	border: 1px solid red;
	border-radius: 10px;
	grid-column: 3/4;
	grid-row: 1/3;
}

#act4 {
	border: 1px solid green;
	border-radius: 10px;
}

#act5 {
	border: 1px solid red;
	border-radius: 10px;
}

#act6 {
	border: 1px solid red;
	border-radius: 10px;
}

footer {
	background: #f2f2f2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
